body{
  background-color: black;
    color: white;
}

body::-webkit-scrollbar {
  display: none;
}

:root {
  --primary-bg: rgba(30, 30, 30, 0.85);
  --hover-bg: rgba(30, 30, 30, 0.9);
  --blur: blur(10px);
  --border-radius: 14px;
  --box-shadow: 0px 8px 25px rgba(255, 255, 255, 0.1);
  --hover-box-shadow: 0px 12px 30px rgba(255, 255, 255, 0.2);
  --border: 1px solid rgba(255, 255, 255, 0.2);
  --highlight-color: #ffcc00;
  --button-gradient: linear-gradient(135deg, #ff7b00, #ff3d00);
  --button-hover-gradient: linear-gradient(135deg, #ff3d00, #ff7b00);
  --transition: transform 0.3s ease-in-out, box-shadow 0.3s;
}




body {
  background-color: black;
  color: white;
}

body::-webkit-scrollbar {
  display: none;
}

/* Navbar Search Bar Styling */
.search-container {
  position: relative;
  max-width: 400px;
  width: 100%;
}

.search-input {
  padding-right: 45px;
  border-radius: 25px;
}
.search-button {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  transition: background 0.3s ease-in-out , transform 0.2s;
}

.search-button:hover {
  background: var(--highlight-color);
}

.py-2 {
  padding-top: 0.9rem !important;
  padding-bottom: .5rem !important;
}


.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  border-radius: 5px;
  overflow: hidden;
}


.video-player{
  width:100%;
  height:auto;
  display:block;
  border-radius:var(--border-radius);
  object-fit: cover;
}